<div class="row" data-hook='admin_pages_main_form'>
  <div class="col-md-3">
    <%= form.field_container :title, class: ['form-group'] do %>
      <%= form.label :title, t('page.title') %> <span class="required">*</span><br/>
      <%= form.text_field :title, :class => "title form-control" %>
    <% end %>
  </div>
  <% if SpreeEssentialCms.sub_pages? %>
  <div class="col-md-3">
    <%= form.field_container :parent_id, class: ['form-group'] do %>
      <%= form.label :parent_id, t('page.parent') %>
      <%= form.select :parent_id, nested_set_options(Spree::Page, @page) {|i| "#{'-' * i.level} #{i.title}" }, {:include_blank => true}, :class => "title form-control" %>
    <% end %>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-3">
    <%= form.field_container :meta_title, class: ['form-group'] do %>
      <%= form.label :meta_title, t('page.meta_title') %>
      <%= form.text_field :meta_title, :class => "text form-control" %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= form.field_container :meta_description, class: ['form-group'] do %>
      <%= form.label :meta_description, t('page.meta_description') %>
      <%= form.text_field :meta_description, :class => "text form-control" %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= form.field_container :meta_keywords, class: ['form-group'] do %>
      <%= form.label :meta_keywords, t('page.meta_keywords') %>
      <%= form.text_field :meta_keywords, :class => "text form-control" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= form.field_container :accessible, class: ['form-group'] do %>
      <%= form.label :accessible, t('page.accessible') %>
      <%= form.check_box :accessible, :class => "text form-control" %>
      <em><%= t('page.explain_accessible') %></em>
    <% end %>
  </div>
</div>

<div id="field_path">
  <div class="row">
    <div class="col-md-3">
      <%= form.field_container :path, class: ['form-group'] do %>
        <%= form.label :path, t('page.path') %>
        <%= form.text_field :path, :class => "text form-control" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= form.field_container :visible, class: ['form-group'] do %>
        <%= form.label :visible, t('page.visible') %>
        <%= form.check_box :visible, :class => "text form-control" %>
        &ndash; <em><%= t('page.explain_visible') %></em>
      <% end %>
    </div>
    <div class="col-md-3">
      <div id="field_nav_title">
        <%= form.field_container :nav_title, class: ['form-group'] do %>
          <%= form.label :nav_title, t('page.nav_title') %>
          <%= form.text_field :nav_title, :class => "text form-control" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    //<![CDATA[

    $(document).ready(function () {

        $('#page_accessible').change(function (evt) {
            $('#field_path').toggle(this.checked);
        }).change();

        $('#page_visible').change(function (evt) {
            $('#field_nav_title').toggle(this.checked);
        }).change();

    });

    //]]>
</script>
