<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => "Images"} %>

<% content_for :page_actions do %>
  <%= button_link_to  t("new_image"), new_admin_page_image_url(@parent), :icon => 'add', :class => "btn-success", :id => "new_image_link" %>
<% end if can? :create, Spree::PageImage %>

<table class="index sortable table" data-sortable-link="<%= update_positions_admin_page_images_url(@parent) -%>">
  <thead>
    <tr>
      <th class="no-border"></th>
      <th><%= t("thumbnail") %></th>
      <th><%= t("alt_text") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @page.images.each do |image| %>
      <tr id="<%= dom_id(image) %>">
        <td class="move-handle">
          <span class="icon icon-sort handle"></span>
        </td>
        <td><%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:large)) %></td>
        <td><%= image.alt %></td>
        <td class="actions">
          <%= link_to_with_icon('edit', t("edit"), edit_admin_page_image_url(@parent, image)) %>
          &nbsp;
          <%= link_to_delete image, {:url => admin_page_image_url(@parent, image) }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="images"></div>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
<% end %>
